body,
html {
    height: 100%;
    background-color: #fffffe;
    color: #272343;
}
p {
    padding: 0;
    margin: 0;
}



.scroll-area-sm {
    height: 50vh;
    overflow-x: hidden
}

.card-body {
    padding: 0px 0px 20px 0px;
}

.dot {
    height: 15px;
    width: 15px;
    display: inline-block;
}

.icon:hover {
    opacity: 60%;
}

.taskSummary {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.done {
    background-color: rgba(40, 167, 69, 0.2)
}


.review {
    background-color: rgba(34, 125, 209, 0.2)
}


.inProgress {
    background-color: rgba(255, 193, 7, 0.2)
}

.toDo {
    background-color: rgba(220, 53, 69, 0.2)
}

.custom-checkbox {
    padding: 0px;
}
.task-detail-summary {
    padding-left: 0.7rem ;
}
